.language-option{
display: flex;
flex-direction: row;
align-items: baseline;
padding: 20px 0px;
}
select {
    background-color:  #a2b9bc;
    color:#27484d;
    border: 0;
    padding: 0.1rem;
}

@media only screen and (min-width: 852px) {
    .language-option{
   
    display: flex;
    justify-content: end;
    padding: 0px;
    margin: 1.2rem 0.5rem 0rem 0rem;
    
    
    }
}
