
.myskills{
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content:baseline;
    align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
   }
   
   .myskills-header{
       position: relative;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }
   
   .myskills-header h1{
       position: relative;
       font-size: 30px;
       text-transform: uppercase;
       margin:30px;    
   }
   .myskills-header hr{
       position: relative;
       width: 70px;
       height: 4px;
       border: none;
       background-color: aqua;
   }
   
   .myskills-content {
       position: relative;
       width: 50%;
       padding: 20px;
       margin: 20px; 
       display: flex;
       justify-content: space-between;
       align-items:flex-start;
       gap: 30px;
       flex-wrap: wrap;
       flex-direction: row;
       text-align: center;
   }
   
   .myskills-content img{
       position: relative;
       width: 100px;
       height: 100px;
       border-radius: 5px;
       background: #eee;
       border-radius: 5%;
   }
   
  
   
   .item-to-left{
       width: 50vw;
       display: flex; 
       justify-content:flex-end;
       align-items: center;
       flex-wrap: wrap;
       gap:30px;
       row-gap: 30px;   
       align-content: center;
       margin:auto;
   }
   .premice-contact{
       display: flex;
       flex-direction: column;
       gap: 15px;
       align-items: center;
   }
   
   .social-link{
   display: flex;
   width: 100%;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content:center;
   gap:30px;
   }