body {
  background-color:  #a2b9bc;
}
/* DEBUT */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  width: 95%;
  margin: auto;
  min-width: 470px;
  overflow-x: hidden;
}
